

/*######################################
            font import link start
########################################*/

@import url('http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700,900');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/*######################################
            font import link end
########################################*/

				/*01*/
/*######################################
	      global style  start
#######################################*/

* {
    text-decoration: none !important;
    list-style: none !important;
    outline: none !important;
}

h1, h2, h3, h4, h5, h6 {

	margin:0px;
    font-weight: 500;
}

a{
    color: #000;
}

a:focus, a:hover {
    color: #000;
    text-decoration: none;
}

h4{
    font-size: 44px;
    font-weight: 900;
    color: #ccc;
    opacity: .8;
    margin-bottom: 80px;
    text-align: center;
}

.dark_bg{
  background-color: #F7F7F7;
}

.dark_bg h4{
    color: #999;
}

h5{
    font-size: 20px;
    margin-bottom: 15px;
}

p {
  line-height: 1.8;
  letter-spacing: 1px;
  text-align: justify;
  margin: 0;
  font-size: 14px;
  color: #7e7e7e;
  font-family: 'Open Sans', sans-serif;
}

.section_padding {
    padding: 80px 0;
}

.inner_padding{
    padding: 80px 0px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/*######################################
	         gloabal style  end
#######################################*/

                /*02*/
/*######################################
	      navbar style  start
#######################################*/

.navbar>.container-fluid .navbar-brand {
    margin-left: -90px;
    padding-right: 0px!important;
}

.navbar-header {
    padding-right: 0px!important;
}

ul.nav.navbar-nav.navbar-right {
    padding-right: 0px!important;
    padding-left: 0px!important;
}

.navbar {

     min-height: 0px;
     margin-bottom: 0px;
     border: 0px solid transparent;
}

.navbar.navbar-default {
    position: fixed;
    width: 100%;
    z-index:999;
    background: transparent;
    border-radius: 0px;
    padding: 8px 0px 8px 30px;
    box-shadow: none;
    transition: 0.4s;
}


/*.navbar-nav>li {
    float: left;
    padding: 0px 5px;
}
*/

nav.navbar.navbar-default .navbar-right {
    padding: 20px 20px;
}

.navbar-header {
    padding: 20px 20px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 13px;
    font-weight: normal;
}

.logo span {          /*-- navbar logo start --*/
    color: #2BBBAD;
    font-size: 22px;
    font-weight: 700;
    margin-left: 50px;

}   /*-- navbar logo end --*/

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
    color: #fff;
    background-color: transparent;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {   /* -- dropdown start -- */
    color: #262626;
    text-decoration: none;
    background-color: #000;
} 

.navbar .dropdown-menu {
    position: absolute!important;
    margin-top: 9px!important;
    border: none;
    border-radius: 0px;
}

                                   /* -- dropdown end -- */




                                    /* -- isActive class sticky menu start -- */


nav.navbar.navbar-default.isActive .navbar-header {
    padding: 0px 0px;
}

nav.navbar.navbar-default.isActive .navbar-right {
    padding: 0px 0px;
}

.isActive{                                       

  background-color: #fff!important;
  z-index: 999!important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12)!important;
}

nav.navbar.navbar-default.isActive ul>li>a {
    color: #000!important;
    font-size: 13px;
    font-weight: normal;
}

nav.navbar.navbar-default.isActive ul>li:hover a{
    color: #000!important;
    background-color: transparent;
}

.isActive .logo span {
    color: #2ABBBD!important;
    margin-left: 70px;
}

.isActive .dropdown-menu>li>a:focus, .isActive .dropdown-menu>li>a:hover { 
    text-decoration: none;

}

 

                                   /* -- isActive class sticky menu end -- */




                /*nav bar on hover style start*/

.hvr-overline-from-center:before {

    background: #2BBBAD!important;
    height: 2px!important;
}


                /*nav bar on hover style end*/

                /*navbar scroll spy start*/

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: transparent;
    border-bottom: solid 2px #2BBBAD;
}

                /*nav bar scroll spy end*/
                




                /*Navbar Toggle Style start*/

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-toggle {
    background-color: transparent;

}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
                /*Navbar Toggle Style start*/   



/*######################################
	         navbar style  end
#######################################*/


                  /*03*/
/*######################################
	       header style start
#######################################*/

#header {              /*-- header image --*/
    height: 100vh;
    width: 100%;
    background: url(../img/bg6.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.header_intro {        /*-- header intro --*/
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    position: absolute;
    justify-content: center;
    z-index:2;
    color:#fff;
}


.header_intro h1 {
    text-align: center;
    font-weight: 900;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 30px auto;
}

.header_intro .welcome {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
}

.header_intro .typed {
    letter-spacing: 1px;
    font-size: 22px;
    font-weight: 300;
    padding-right: 10px;
}

#header:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}

/*######################################
	         header style  end
#######################################*/


                 /*04*/
/*######################################
        typed js style  start
#######################################*/

.typed-cursor{          /*typed cursor animated start*/
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}                          /*typed cursor animated end*/


.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    font-size: 28px;
    font-weight: 100;
}

.typed_js {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20%;
}

/*######################################
        typed js style  end
#######################################*/




                 /*05*/
/*######################################
	       about style start
#######################################*/

.about_me_img img {
    width: 100%;
}

.about_me_info ul {
    padding: 0px;
}

.about_me_info ul>li {
    margin-bottom: 15px;
    font-weight: 500;
}

.about_me_info span {
    padding-left: 5px;
    color: #a7a7a7;
    font-weight: 400;
}

.about_me_info {
    margin-top: 40px;
}

.about_me_button {
    margin-top: 30px;
    padding: 0px;
}

.btn[class*=btn-outline-] {
    border-radius: 0px;
    font-size: 12px;
}


.about_header h4 {
    text-align: justify;
}

/*######################################
	         about style  end
#######################################*/


                 /*06*/
/*######################################
           skill_counter style start
#######################################*/


           /*-- progress bar start --*/   

.skill_header h4 {
    text-align: center;
}

.skill_prog span {
    float: right;
}

.skill_prog {
    margin-bottom: 30px;
    padding: 0px 40px;
}

.skill_prog h6 {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: capitalize;
}   

.mdl-progress {
    display: block;
    position: relative;
    height: 10px!important;
    width: 500px;
    max-width: 100%;
}

.mdl-progress>.auxbar {
    right: 0;
    top: 6px;
}

.mdl-progress>.progressbar {
    background-color: #2BBBAD;;
    border-radius: 5px 16px 0px 0px;
}

.mdl-progress>.bufferbar {
    border-radius: 5px 16px 0px 0px;
}
                              /*-- progress bar end --*/



.counter_div {                /*custom counter style start*/
    border: solid 1px #2BBBAD;
    padding: 20px;
}                              

.counter_div h5 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 900;
    background: #fff;
    height: 80px;
    width: 100%;
    color: #999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter_div i {
    font-size: 30px;
    position: absolute;
    width: 60px;
    left: calc(58% - 55px);
    top: -17px;
    text-align: center;
    background: #f7f7f7;
    color: #e3e4db;
}

.counter_div p {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: 700;
}


.info_counter {
    margin-top: 20px;
}
                              /*custom counter style end*/

/*-=-=-=-=-=-=-=-=-=-=-=- */
/* Column Grids */
/*-=-=-=-=-=-=-=-=-=-=-=- */

.col_half {
     width: 49%;
      }
.col_third {
     width: 32%;
      }
.col_fourth {
     width: 23.5%;
      }
.col_fifth {
     width: 18.4%;
      }
.col_sixth {
     width: 15%;
      }
.col_three_fourth {
     width: 74.5%;
    }
.col_twothird{
     width: 66%;
    }
.col_half,
.col_third,
.col_twothird,
.col_fourth,
.col_three_fourth,
.col_fifth{
    position: relative;
    display:inline;
    display: inline-block;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
}
.end { margin-right: 0 !important; }
/* Column Grids End */
.counter { 
    background-color: #0088cc; padding: 20px 0; border-radius: 5px;
}
.count-title { 
    font-size: 40px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center;
     }
.count-text { 
    font-size: 13px; font-weight: normal;  margin-top: 10px; margin-bottom: 0; text-align: center;
     }
.fa-2x { 
    margin: 0 auto; float: none; display: table; color: #4ad1e5;
     }

/*######################################
            skill_counter style  end
#######################################*/




/*######################################
            resume style  start
#######################################*/

.resume_header {
    text-align: center;
    margin-bottom: 100px;
}

.resume_left {
    text-align: right;
} 

.resume_left:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: -10px;
    left: 100%;
    background-color: #d6d6d6;
}

.resume_info {

    padding: 15px 20px 10px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition:0.4s;
}

.resume_info h5 {
    font-size: 16px;
}

.resume_info p {
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.resume_left {

    margin-right: 15px;
}

.resume_right {

    margin-left: 15px;
}

.resume_left .resume_info:before {
    content: '';
    position: absolute;
    top: 26px;
    right: -30px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: solid 2px #2BBBAD;
    border-radius: 50%;
}


.resume_left .resume_info:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #2BBBAD;
    top: 30px;
    right: -20px;
}


.resume_right .resume_info:after {
    content: '';
    position: absolute;
    bottom: 26px;
    left: -28px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: solid 2px #2BBBAD;
    border-radius: 50%;
}

.resume_right .resume_info:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 2px;
    background: #2BBBAD;
    bottom: 30px;
    left: -20px;
}


.resume_info span {
    color: #2BBBAD;
    font-weight: bold;
}

.resume_info:hover {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition:0.4s;
}


/*######################################
            resume style  end 
#######################################*/



/*######################################
            services style  start 
#######################################*/


#services i {
    font-size: 18px!important;
    color: #2BBBAD!important;
    margin-bottom: 25px;
}

#services p {
    margin-bottom: 15px;
    text-align: justify;
}

.btn.btn-primary.btn-sm.ml-0 {
    border-radius: 0px;
    background-color: #2BBBAD;
}


/*######################################
            services style  end 
#######################################*/



                 /*07*/
/*######################################
        portfolio style  start
#######################################*/

.sort .mix {
             display: none;
        }

.port_item img {
    width: 100%;
}

.sort .mix {
    display: none;
}

.sort {
    position: relative;
    left: 1%;
}

.port_item {
    width: 32%;
    float: left;
    margin-bottom: 5px;
    margin-left: 5px;
    height: 250px;
}

.portfolio_button {
    text-align: center;
    margin-bottom: 50px;
}

.portfolio_button .filter {
    padding: 15px 10px;
    margin: 0 4px;
    color: #777;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    background: transparent;
    border: none;
}

                                /*portfolio onhover style start*/

.onhover_icon {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.onhover_icon i {
    background: #2BBBAD;
    color: #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 19px;
}

                                /*portfolio onhover style end*/


/*######################################
        porftfolio style  end
#######################################*/




/*######################################
        blog style start
#######################################*/


#blog .view{
  height: 250px!important;
}


#blog .card {
    text-align: center;
    border-radius: 0px;
}

.card img {
    border-radius: 0px;
    width: 100%!important;
    height: 100%!important;
}

.card-body {
    padding: 20px 10px;
}

.card-body p {
    font-size: 14px!important;
}

.card-body h5 {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
}

.blog_date {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    background: aquamarine;
    width: 70px;
    height: 67px;
    line-height: 33px;
    border-bottom: solid 67px #B3BFE0;
    border-left: solid 70px #2BBBAD;
}

.blog_date .date {
    color: #fff;
    z-index: 3;
    position: absolute;
    right: 42px;
    top: 5px;
    font-weight: bold;
}


.blog_date .month {
    color: #fff;
    z-index: 3;
    position: absolute;
    right: 7px;
    top: 30px;
    font-weight: bold;
}

.hm-white-slight .full-bg-img, .hm-white-slight .mask {
    background-color: rgba(0,0,0,0.2);
}


.blog_icon {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.blog_icon i {
    color: #fff;
    font-size: 48px;
}

/*######################################
        blog style  end
#######################################*/




/*######################################
        testimonial style  start
#######################################*/

#testimonial_slider h6 {
    font-size: 15px;
    font-size: 12px;
    font-style: italic;
    color: #888;
    position: relative;
}

#testimonial_slider {
    text-align: center;
}

#testimonial_slider .items {
    text-align: justify;
    border: solid 1px #2BBBAD;
    padding: 30px 30px;
}

#testimonial_slider h5 {
    margin: 20px 0px 5px 0px;
    font-size: 14px;
}


.owl-nav .owl-prev {
    float: left;
    border-right: solid 2px #fff;
    width: 50%;
    height: 100%;
    background: #2BBBAD;
}

.owl-nav .owl-next {
    float: right;
    width: 50%;
    height: 100%;
    background: #2BBBAD;
}

.owl-nav {
    width: 79px;
    position: absolute;
    height: 31px;
    bottom: 15px;
    right: 27%;
    border-left: solid 5px #fff;
    border-right: solid 5px #fff;
}

.owl-nav i {
    line-height: 30px;
    color: #fff;
    font-size: 18px;
}

.testimonial_img {
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: solid 5px #fff;
    position: absolute;
    top: -36px;
    left: 18px;
}

.testimonial_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.owl-carousel .owl-stage-outer {
    padding: 32px 0px;
}

#testimonial_slider p{

    padding: 14px 0px 0px;
}

/*######################################
        testimonial style  end
#######################################*/




/*######################################
        get in touch style  start
#######################################*/


.get_in_touch_left h6 {     /*get in touch left*/
    padding: 60px 0px;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 600;
}

.get_in_touch_left i {
    font-size: 22px!important;
    color: #000!important;
}

.get_in_touch_left .btn {
    border-radius: 0px;
    background: #2BBBAD;
}

.get_in_touch_right .card.card-cascade {   /*get in touch right*/
    border-radius: 0px;
    padding: 60px 0px;
    background: #fff;
}

.get_in_touch_right h2 {
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 600;
}


.get_in_touch_right span {
    padding-top: 11px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0px;
    color: #ABABAB;
}

.get_in_touch_right h6 {
    margin-bottom: 22px;
    letter-spacing: 1px;
    text-align: justify;
}

.get_in_touch_right h2 {
    text-align: center;
    border-bottom: solid  1px #BDBDBD;
}

.get_in_touch_right .view {
    padding: 0px 40px;
}

.get_in_touch_right .icons {
    text-align: center;
}

.get_in_touch_right .icons i {
    width: 32px;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
}

.get_in_touch_left {
    margin-bottom: 40px;
}

/*######################################
        get in touch style  end
#######################################*/



/*######################################
        home footer style start
#######################################*/


#footer_home {
    padding: 30px 0px;
}
#footer_home p{
    text-align: center;
}


/*######################################
        home footer style end
#######################################*/



/***********************************************************************************************************************
                                                Blog Pages

***********************************************************************************************************************/


/*global start*/

.right_bottom_tags {
    margin-bottom: 80px;
}

/*global end*/


/*#########################################################
        Blog page One Right Side bar style  start
##########################################################*/


#blog_header {              /*-- header image --*/
    height: 60vh;
    width: 100%;
    background: url(../img/blog_one/blogOnebg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#blog_header:after {
    content: "";
    width: 100%;
    height: 60vh;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}

#blog_header .header_intro {
    display: flex;
    width: 100%;
    height: 60%;
    align-items: center;
    position: absolute;
    justify-content: center;
    z-index: 2;
    color: #fff;
}


.left_side_top {
    margin-bottom: 50px;
}

.left_side_bottom h5 {
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.left_side_bottom
 ul>li {
    display: inline-block;
    margin-right: 15px;
    font-size: 11px;
    text-transform: uppercase;
    color: #999;
    letter-spacing: 1px;
}

.left_side_bottom
 ul {
    padding: 0px;
    margin-bottom: 30px;
}

.left_side_bottom
 i {
    margin-right: 7px;
}

.left_side_bottom
 p {
    margin-bottom: 50px;
}

.left_side {
    margin-bottom: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #eee;
}

.left_side_bottom
 a {
    padding: 12px 30px;
    background: #3b414c;
    border: 1px solid #3b414c;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    transition: all .5s;
}

.left_side_bottom a:hover {
    background: transparent;
    color: #3b414c;
}

.pagination ul>li>a {
    padding: 10px 16px;
    border: 1px solid #eee!important;
    font-size: 12px;
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .5s;
    margin-right: 5px;
}

.pagination .active {
    border: solid 1px #3b414c!important;
}


#footer .inner_padding {
    padding: 30px 0px;
    text-align: center;
    color: #a7a7a7;
}


#blog_footer {
    padding: 30px 0px;
    text-align: center;
    background: #f7f7f7;
}


.right_side {
    padding-left: 30px;
}

.right_top_header
 h4 {
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    color: #333;
}

.right_top_img {
    margin-bottom: 30px;
}

.right_top_icon_header h4 {
    font-size: 14px;
    color: #333;
    margin-bottom: 0px;
    text-align: end;
    margin: 30px 0px 0px;
}

.right_top {
    margin-bottom: 80px;
}

.right_top_icon a {
    color: #000;
    float: right;
    width: 28px;
    height: 28px;
    text-align: center;
    border: solid 1px #3b414c;
    margin-right: 7px;
    line-height: 25px;
}

.right_top_icon a:hover {
    background: #3b414c;
    color: #fff;
    transition: 0.4s;
}

.right_middle_header h4 {
    font-size: 18px;
    color: #333;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #eee;
}


.right_top_para p {
    text-align: justify;
}

.no_padding {
    padding: 0px 0px;
}

.right_middle_details h5 {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.right_middle_details p {
    font-size: 11px;
    color: #999;
    letter-spacing: 1px;
}

.right_middle_details {
    margin-bottom: 30px;
    overflow: hidden;
}


.right_middle {
    margin-bottom: 80px;
}

.right_bottom_header h4 {
    font-size: 18px;
    color: #333;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #eee;
}

.category_list ul {
    padding: 0px;
}

.category_list span {
    float: right;
}

.category_list .custom_icon {
    float: left;
    color: #000;
    margin-right: 6px;
}

.category_list ul>li a {
    font-size: 13px;
    margin-bottom: 15px;
    color: #888;
    position: relative;
}

.category_list ul>li {
    font-size: 13px;
    margin-bottom: 15px;
    color: #888;
    position: relative;
    padding: 0px;
}

.category_list {
    margin-bottom: 80px;
}

.right_bottom_tags h4 {
    font-size: 18px;
    color: #333;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #eee;
}

.right_bottom_tags ul {
    padding: 0px;
}

.right_bottom_tags ul>li {
    display: inline-block;
    border: solid 1px #000;
    padding: 5px 10px;
    margin: 2px;
}

.right_bottom_tags li:hover {
    background: #3b414c;
    color: #fff;
    transition: 0.4s;
}

.right_bottom_tags li:hover a {
    color: #fff;
    transition: 0.4s;
}

#blog_header .isActive .logo span {
    color: #000!important;
}

/*-------------------------------------
        home footer style start
---------------------------------------*/


#footer_blog {
    padding: 30px 0px;
}
#footer_blog p{
    text-align: center;
}


/*---------------------------------------
        home footer style end
-----------------------------------------*/


/*##################################################
        Blog page One right side bar style  end
####################################################*/



/*#########################################################
        Blog page two left Side bar style  start
##########################################################*/



#blog_header {              /*-- header image --*/
    height: 60vh;
    width: 100%;
    background: url(../img/blog_one/blogOnebg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#blog_header:after {
    content: "";
    width: 100%;
    height: 60vh;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
}

#blog_header .header_intro {
    display: flex;
    width: 100%;
    height: 60%;
    align-items: center;
    position: absolute;
    justify-content: center;
    z-index: 2;
    color: #fff;
    background: #000;
    opacity: 0.5;
}


#blog_two .left_side_top {
    margin-bottom: 50px;
}

.left_side_bottom h5 {
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.left_side_bottom
ul>li {
    display: inline-block;
    margin-right: 15px;
    font-size: 11px;
    text-transform: uppercase;
    color: #999;
    letter-spacing: 1px;
}

.left_side_bottom
ul {
    padding: 0px;
    margin-bottom: 30px;
}

.left_side_bottom
i {
    margin-right: 7px;
}

.left_side_bottom
p {
    margin-bottom: 50px;
}

#blog_two .left_side {
    margin-bottom: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #eee;
}

.left_side_bottom
a {
    padding: 12px 30px;
    background: #2BBBAD;
    border: 1px solid #2BBBAD;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    transition: all .5s;
}

.left_side_bottom a:hover {
    background: transparent;
    color: #3b414c;
}

.pagination ul>li>a {
    padding: 10px 16px;
    border: 1px solid #eee!important;
    font-size: 12px;
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all .5s;
    margin-right: 5px;
    margin-top: 5px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 5px;
    border-radius: 4px;
}

.pagination .active {
    border: solid 1px #3b414c!important;
}


#blog_footer {
    padding: 30px 0px;
    text-align: center;
    background: #f7f7f7;
}


#blog_two .right_side {
    padding-right: 30px;
}

.right_top_header
h4 {
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    color: #2BBBAD;
}

.right_top_img {
    margin-bottom: 30px;
    text-align: center;
}

.right_top_icon_header h4 {
    font-size: 14px;
    color: #333;
    margin-bottom: 0px;
    text-align: end;
    margin: 30px 7px 0px;
}

#blog_two .right_top {
    margin-bottom: 80px;
}

.right_top_icon a {
    color: #000;
    float: right;
    width: 28px;
    height: 28px;
    text-align: center;
    border: solid 1px #3b414c;
    line-height: 25px;
}

.right_top_icon a:hover {
    background: #3b414c;
    color: #fff;
    transition: 0.4s;
}

.right_middle_header h4 {
    font-size: 18px;
    color: #2BBBAD;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #eee;
}


.right_top_para p {
    text-align: justify;
}

.no_padding {
    padding: 0px 0px;
}

.right_middle_details h5 {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.right_middle_details p {
    font-size: 11px;
    color: #999;
    letter-spacing: 1px;
}

.right_middle_details {
    margin-bottom: 20px;
    overflow: hidden;
    height: 70px;
}


.right_middle {
    margin-bottom: 80px;
}

.right_bottom_header h4 {
    font-size: 18px;
    color: #2BBBAD;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #eee;
}

.category_list ul {
    padding: 0px;
}

.category_list span {
    float: right;
}

.category_list .custom_icon {
    float: left;
    color: #000;
    margin-right: 6px;
}

.category_list ul>li a {
    font-size: 13px;
    margin-bottom: 15px;
    color: #888;
    position: relative;
}

.category_list ul>li {
    font-size: 13px;
    margin-bottom: 15px;
    color: #888;
    position: relative;
    padding: 0px;
}

.category_list {
    margin-bottom: 80px;
}

.right_bottom_tags h4 {
    font-size: 18px;
    color: #2BBBAD;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #eee;
}

.right_bottom_tags ul {
    padding: 0px;
}

.right_bottom_tags ul>li {
    display: inline-block;
    font-size: 12px;
    padding: 5px 10px;
    border: 1px solid #a7a7a7;
    color: #444;
    margin: 2px;
    transition: all .5s;
}

.right_bottom_tags li:hover {
    background: #3b414c;
    color: #fff;
    transition: 0.4s;
}

.right_bottom_tags li:hover a {
    color: #fff;
    transition: 0.4s;
}

#blog_header .isActive .logo span {
    color: #2BBBAD!important;
}

#blog_two .right_top_icon {
    float: left;
}

#blog_two .right_top_icon_header h4 {
    float: left;
}

#blog_two .left_side_bottom a {
    position: absolute;
    right: 0;
}

#blog_two .left_side_bottom {
    position: relative;
}

#blog_two .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    float: right;
}

/*##################################################
        Blog page two left side bar style  end
####################################################*/




/*##################################################
        Blog single right side bar start
####################################################*/

.right_middle_img {
    width: 60px;
    height: 60px;
}

.right_middle_img img {
    width: 100%;
    height: auto;
}

#blog_single_rightSidebar .right_side_top {
    margin-bottom: 50px;
    width: 100%;
    overflow: hidden;
}

#blog_single_rightSidebar .right_side_bottom {
    margin-bottom: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #eee;
}


#blog_single_rightSidebar .right_side_bottom
h5 {
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#blog_single_rightSidebar .right_side_bottom
li {
    display: inline-block;
    margin-right: 15px;
    font-size: 11px;
    text-transform: uppercase;
    color: #999;
    letter-spacing: 1px;
}

#blog_single_rightSidebar .right_side_bottom
ul {
    padding: 0px;
    margin-bottom: 30px;
}

#blog_single_rightSidebar .right_side_bottom
i {
    margin-right: 5px;
}

#blog_single_rightSidebar .right_side_bottom
p {
    line-height: 1.8;
    text-align: justify;
    font-size: 14px;
    letter-spacing: 1px;
    color: #7e7e7e;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 80px;
}

#blog_single_rightSidebar .right_side_bottom_share_icon {
    text-align: left;
}

#blog_single_rightSidebar .right_side_bottom_share_icon i {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

#blog_single_rightSidebar .right_side_comment_header h6 {
    font-size: 14px;
    color: #333;
}

#blog_single_rightSidebar .right_side_comment {
}

#blog_single_rightSidebar .right_side_comment_header {
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #eee;
}

#blog_single_rightSidebar .right_side_comment_body_top_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    background: #eee;
    margin-bottom: 15px;
}

#blog_single_rightSidebar .right_side_comment_body_top_details h6{
    font-size: 18px;
}

#blog_single_rightSidebar .right_side_comment_body_top_details ul>li {
    font-size: 11px;
    color: #888;
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

#blog_single_rightSidebar .right_side_comment_body_top_details ul {
    padding: 0px;
}

#blog_single_rightSidebar .right_side_comment_body_top_details i {
    margin-right: 15px;
}

#blog_single_rightSidebar .right_side_comment_body_top_details {
    margin-bottom: 50px;
}

#blog_single_rightSidebar .right_side_comment_body_top_img img {
    height: 100%;
    width: 100%;
}

#blog_single_rightSidebar .right_side_comment_body_top_img {
    left: 25px;
}

#blog_single_rightSidebar .leave_comment_head
    h5 {
        font-size: 14px;
        color: #333;
        padding-bottom: 20px;
        margin-bottom: 50px;
        border-bottom: 1px solid #eee;
    }

#blog_single_rightSidebar .leave_comment_form {
    padding: 0px 30px;
    margin-bottom: 80px;
}

#blog_single_rightSidebar .leave_comment_form .btn {
    background: #2BBBAD;
    border: solid 1px #2BBBAD!important;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .5s;
    border-radius: 0px;
}

#blog_single_rightSidebar .btn-unique:hover {
    background-color: transparent!important;
    color: #000!important;
    border: solid 1px #2BBBAD!important;

}

/*##################################################
        Blog single right side bar end
####################################################*/




/*##################################################
        Blog single left side bar start
####################################################*/

#blog_single_leftSidebar .right_side_top {
    margin-bottom: 50px;
    width: 100%;
    overflow: hidden;
}

#blog_single_leftSidebar .right_side_bottom {
    margin-bottom: 80px;
    padding-bottom: 80px;
    border-bottom: 1px solid #eee;
}


#blog_single_leftSidebar .right_side_bottom
h5 {
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#blog_single_leftSidebar .right_side_bottom
li {
    display: inline-block;
    margin-right: 15px;
    font-size: 11px;
    text-transform: uppercase;
    color: #999;
    letter-spacing: 1px;
}

#blog_single_leftSidebar .right_side_bottom
ul {
    padding: 0px;
    margin-bottom: 30px;
}

#blog_single_leftSidebar .right_side_bottom
i {
    margin-right: 5px;
}

#blog_single_leftSidebar .right_side_bottom
p {
    line-height: 1.8;
    text-align: justify;
    font-size: 14px;
    letter-spacing: 1px;
    color: #7e7e7e;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 80px;
}

#blog_single_leftSidebar .right_side_bottom_share_icon {
    text-align: left;
}

#blog_single_leftSidebar .right_side_bottom_share_icon i {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

#blog_single_leftSidebar .right_side_comment_header h6 {
    font-size: 14px;
    color: #333;
}

#blog_single_leftSidebar .right_side_comment_header {
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #eee;
}

#blog_single_leftSidebar .right_side_comment_body_top_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    background: #eee;
    margin-bottom: 15px;
}

#blog_single_leftSidebar .right_side_comment_body_top_details h6{
    font-size: 18px;
}

#blog_single_leftSidebar .right_side_comment_body_top_details ul>li {
    font-size: 11px;
    color: #888;
    margin-right: 15px;
    margin-bottom: 15px;
    display: inline-block;
}

#blog_single_leftSidebar .right_side_comment_body_top_details ul {
    padding: 0px;
}

#blog_single_leftSidebar .right_side_comment_body_top_details i {
    margin-right: 15px;
}

#blog_single_leftSidebar .right_side_comment_body_top_details {
    margin-bottom: 50px;
}

#blog_single_leftSidebar .right_side_comment_body_top_img img {
    height: 100%;
    width: 100%;
}

#blog_single_leftSidebar .right_side_comment_body_top_img {
    left: 25px;
}

#blog_single_leftSidebar .leave_comment_head
h5 {
    font-size: 14px;
    color: #333;
    padding-bottom: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #eee;
}

#blog_single_leftSidebar .leave_comment_form {
    padding: 0px 30px;
}

#blog_single_leftSidebar .leave_comment_form .btn {
    background: #2BBBAD;
    border: solid 1px #2BBBAD!important;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all .5s;
    border-radius: 0px;
}

#blog_single_leftSidebar .btn-unique:hover {
    background-color: transparent!important;
    color: #000!important;
    border: solid 1px #2BBBAD!important;

}

#blog_single_leftSidebar .right_side_bottom_share_icon {
    text-align: right;
}

#blog_single_leftSidebar .right_top_icon {
    float: left;
}

#blog_single_leftSidebar .right_top_icon_header h4 {
    float: left;
}


#blog_single_leftSidebar .right_side_comment_header {
    text-align: right;
}

#blog_single_leftSidebar .leave_comment_head {
    text-align: right;
}

#blog_single_leftSidebar .pagination {
    float: right;
}

#blog_single_leftSidebar .right_side {
    padding-right: 30px;
}

/*##################################################
        Blog single left side bar end
####################################################*/



/*on hover css for right side bar blog page and single blog page*/

.left_side_top img:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.left_side_top {
    overflow: hidden;
    transition: 0.4s;
}

.left_side_top img {
    transition: 0.4s;
}



/*on hover css for left side bar blog page and single blog page*/

.right_side_top img:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

.right_side_top {
    overflow: hidden;
    transition: 0.4s;
}

.right_side_top img {
    transition: 0.4s;
}
