@media only screen and (min-width: 266px) and (max-width: 520px){

	h4 {				/*h4 style*/

		font-size: 30px!important;

	}
}


@media only screen and (min-width: 266px) and (max-width: 767px){

	.about_me_img {				/*about me section start*/ 

    margin-bottom: 80px!important;

	}
}

@media only screen and (min-width: 266px) and (max-width: 320){

	.about_header h4 {

    font-size: 38px!important;

	}
}								/*about me section end*/ 


@media only screen and (min-width: 266px) and (max-width: 290px){

	.skill_prog h6 {			/*skill progress bar start*/ 

    margin-right: -30px!important;
	
	}
}								/*skill progress bar end*/ 


@media only screen and (min-width: 768px) and (max-width: 991px){

	.counter_div i {			/*counter start*/ 
   
    left: calc(56% - 41px)!important;
    
	}
}


@media only screen and (min-width: 266px) and (max-width: 767px){

	.counter_div {
   
    margin-bottom: 30px!important;

	}
}

@media only screen and (min-width: 266px) and (max-width: 420px){

	.counter_div i {

    font-size: 22px!important;
    left: calc(58% - 29px)!important;
    width: 38px!important;
    top: -12px!important;
  
	}
.counter_div h5 {

    font-size: 12px!important;

	}

.counter_div p {
    
    font-size: 10px!important;
    
	}
}

@media only screen and (min-width: 421px) and (max-width: 520px){

	.counter_div i {

    font-size: 30px!important;
    width: 55px!important;
    left: calc(58% - 45px)!important;
    top: -16px!important;
 
	}
}								/*counter end*/ 


@media only screen and (min-width: 266px) and (max-width: 767px){

	.inner_padding {			/*resume start*/

    padding: 80px 20px!important;

	}
}

@media only screen and (min-width: 266px) and (max-width: 338px){

	.resume_info h5 {

    font-size: 10px!important;
    font-weight: bold!important;

	}

	.resume_info span {
   
    font-size: 11px!important;

	}

	.resume_info p {

    font-size: 8px!important;
    
	}
}	
								/*resume end*/


@media only screen and (min-width: 640px) and (max-width: 991px){

	.port_item {			/*portfolio start*/

    width: 48%!important;
 
	}
}			

@media only screen and (min-width: 325px) and (max-width: 639px){

	.port_item {			/*portfolio start*/

    width: 95%!important;

 
	}
}	

@media only screen and (min-width: 266px) and (max-width: 324px){

	.port_item {			

	width: 95%!important;
    height: 218px!important;
    
 
	}
}							/*portfolio end*/



@media only screen and (min-width: 266px) and (max-width: 767px){

	#blog .card {           /*blog start*/
   
    margin-bottom: 30px!important;

	}
}						    /*blog end*/




@media only screen and (min-width: 266px) and (max-width: 394px){

	.slider_header h4 {           /*testimonial start*/
   
    font-size: 28px;

	}
}


@media only screen and (min-width: 266px) and (max-width: 991px){

	.owl-nav {

    right: 4%!important;
    

	}
}									/*testimonial end*/



@media only screen and (min-width: 768px) and (max-width: 979px){

	.navbar>.container-fluid .navbar-brand {		/*navbar style*/
		margin-left: -121px!important;

	}

	.navbar-right {
		margin-right: -48px!important;
	}


}

@media only screen and (min-width: 266px) and (max-width: 520px){
	.header_intro h1 {

		font-size: 22px!important;

	}

}

/*################################################################

							Typed js responsive start

#################################################################*/





/*################################################################

							Typed js responsive end

#################################################################*/


/*################################################################

							Toggle Navbar Style start

#################################################################*/



@media only screen and (min-width:266px) and (max-width:767px){

	#bs-example-navbar-collapse-1 {
    background:  #fff;
	}

#bs-example-navbar-collapse-1 ul>li a {
    color:  #000;
    text-align: center;
	}	

#bs-example-navbar-collapse-1 ul>li {
    margin-bottom: 5px;
	}

.dropdown-menu {
    position: absolute;
    top: -16%;
    left: 60%;
    background-color: #000!important;
	}

.navbar .dropdown-menu a {
    	color: #fff!important;
	}

	.nav>li {
    display: block;
    display: flex;
    justify-content: center;

	}

	.navbar-default .navbar-nav>.active>a, 
	.navbar-default .navbar-nav>.active>a:focus, 
	.navbar-default .navbar-nav>.active>a:hover {

    width: 30%;

	}

}

@media only screen and (min-width:266px) and (max-width:450px){

.dropdown-menu {

    position: absolute;
    top: -16%;
    left: 66%;
    background-color: #000!important;

	}

}



/*################################################################

							Toggle Navbar Style end

#################################################################*/




/*#################################################################

							BLOG RESPONSIVE START

##################################################################*/


@media only screen and (min-width: 266px) and (max-width: 520px){

	.right_top_icon_header h4 {

    font-size: 14px!important;
   
	}
	.right_middle_header h4 {

    font-size: 18px!important;
 
	}
}


@media only screen and (min-width: 266px) and (max-width:520px){

	.btn {
    font-size: 12px!important;
    padding: 0.85rem 1.13rem!important;
	}
}

@media only screen and (min-width: 266px) and (max-width: 320px){

	#blog_header .header_intro h1 {
    position: absolute;
    top: 32%;
    left: 25%;
    font-size: 16px !important;
	}

	#blog_header .logo span {
    font-size: 16px;
   	}
}


/*#################################################################

							BLOG RESPONSIVE END

##################################################################*/